<form autocomplete="off" *ngIf="game" (submit)="onSubmit()">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Name</label>
        <input name="name" [(ngModel)]="game.name" class="form-control" [required]="true">
      </div>
      <div class="form-group">
        <label>Logo</label>
        <input style="display: none"
               accept="image/*"
               type="file"
               (change)="logoSelected($event)"
               name="logo"
               #logoInput/>
        <img style="width: 150px; height: 150px" [attr.src]="logoBase64" *ngIf="logoBase64"/>
        <button type="button" (click)="logoInput.click()">Select file</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Description</label>
        <angular-editor name="description" [placeholder]="'Enter text here...'" [config]="editorConfig"
                        [(ngModel)]="game.description"></angular-editor>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Banner</label>
        <input style="display: none"
               type="file"
               accept="image/*"
               (change)="bannerSelected($event)"
               name="logo"
               #bannerInput/>
        <img style="width: 300px; height: 200px" [src]="bannerBase64" *ngIf="bannerBase64"/>
        <button type="button" (click)="bannerInput.click()">Select file</button>
      </div>
    </div>
  </div>
  <!-- order items table-->
  <table class="table table-borderless">
    <thead class="thead-light">
    <th>Price (VND)</th>
    <th>Quantity</th>
    <th>
      <a class="btn btn-sm btn-success text-white" (click)="enablePriceAdding()"><i
        class="fa fa-plus"></i> Add Item</a>
    </th>
    </thead>
    <tbody>
    <tr *ngIf="game.prices.length==0 && !isPriceAdding" [class.text-danger]="!isValid && game.prices.length==0">
      <td class="font-italic text-center" colspan="5">
        No price item for this game.
      </td>
    </tr>

    <tr *ngFor="let item of game.prices;let i=index;">
      <td *ngIf="!item.isUpdating">{{item.name | currency:"VND":""}}</td>
      <td *ngIf="item.isUpdating"><input [(ngModel)]="item.name" name="priceName"></td>

      <td *ngIf="!item.isUpdating">{{item.value}}</td>
      <td *ngIf="item.isUpdating"><input type="number" [(ngModel)]="item.value" name="priceValue"></td>

      <td *ngIf="!item.isUpdating">
        <a class="btn btn-sm btn-info text-white" (click)="enablePriceUpdating(item)"><i
          class="fas fa-pencil"></i></a>
        <a class="btn btn-sm btn-danger text-white ml-1" (click)="deletePrice(i)"><i
          class="fa fa-trash"></i></a>
      </td>
      <td *ngIf="item.isUpdating">
        <a class="btn btn-sm btn-info text-white" (click)="editPrice(item)"><i
          class="fas fa-pencil"></i></a>
        <a class="btn btn-sm btn-danger text-white ml-1" (click)="cancelUpdatingPrice(item)"><i
          class="fas fa-times"></i></a>
      </td>
    </tr>

    <tr *ngIf="isPriceAdding">
      <td><input [(ngModel)]="addingPrice.name" name="addingPriceName"></td>
      <td><input [(ngModel)]="addingPrice.value" name="addingPriceValue"></td>
      <td>
        <a class="btn btn-sm btn-info text-white" (click)="addPrice()"><i
          class="fas fa-pencil"></i></a>
        <a class="btn btn-sm btn-danger text-white ml-1" (click)="cancelAddingPrice()"><i
          class="fas fa-times"></i></a>
      </td>
    </tr>

    </tbody>
  </table>
  <div class="form-group dx-flex justify-content-lg-start">
    <button type="submit" class="btn btn-success"><i class="fa fa-database mr-1"></i> Save</button>
    <button type="button" (click)="backToList.emit()" class="btn btn-dark"><i class="fa fa-database"></i> Back</button>
  </div>
</form>
