@charset "UTF-8";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

img.aligncenter {
    display: block;
    margin: 0 auto;
}

.floating-labels input.form-control:focus,
.floating-labels textarea.form-control:focus,
.floating-labels select.form-control:focus {
    outline: none;
    display: block;
}

.floating-labels input.form-control:focus~label,
.floating-labels textarea.form-control:focus~label,
.floating-labels select.form-control:focus~label {
    top: -20px;
    font-size: 14px;
    color: #455a64;
}

.floating-labels input.form-control:valid~label,
.floating-labels textarea.form-control:valid~label,
.floating-labels select.form-control:valid~label {
    top: -20px;
    font-size: 14px;
    color: #455a64;
}

.floating-labels input.form-control~label {
    top: 5px;
    position: absolute;
    pointer-events: none;
    transition: 0.2s;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: #1e88e5;
    z-index: 0;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid #00757b;
}

.floating-labels .bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00757b;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.floating-labels .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00757b;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.form-material .form-group {
    overflow: unset;
}

.form-material .select-2 {
    overflow: unset;
}

.form-material .card-body .img_avatar {
    max-width: 100%;
}

body {
    overflow: auto;
}

.button-accept-right {
    display: -ms-flexbox;
    display: flex;
}

.br-r-2 {
    border-radius: 2px;
}

@media (max-width: 767.77px) {
    .button-accept-right {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .button-accept-right {
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.border-nav {
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.12);
}

.navbar-brand.logo {
    padding-top: 1.4125rem;
    padding-bottom: 1.4125rem;
}

.navbar .row {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.box-menu {
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.12);
}

img {
    max-width: 100%;
}

body {
    background: #f9fbfc;
}

.title {
    margin-bottom: 30px;
}

.game-product-list .content-game {
    text-align: center;
    padding: 45px 15px;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 30px;
    cursor: pointer;
}

.game-product-list .content-game:hover {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.game-product-list .content-game:hover h3 {
    color: #3D86BA;
}

.game-product-list .content-game .image-game {
    margin-bottom: 30px;
}

.game-product-list .content-game .image-game img {
    width: 98px;
    height: 98px;
    object-fit: cover;
}

.game-product-list .content-game .description-game h3 {
    text-transform: uppercase;
    font-size: 19px;
    cursor: pointer;
    &:hover {
        color: #3D86BA;
    }
}

a {
    cursor: pointer;
}

.game-product-list .content-game .description-game h3 a {
    color: #434343;
    &:hover {
        color: #3D86BA;
    }
}

.row-247online {
    margin-left: -8px;
    margin-right: -8px;
}

.col-247online {
    padding-left: 8px;
    padding-right: 8px;
}

.breadcrumb {
    margin: 30px 0;
    background: #e9ecef;
}

.breadcrumb a {
    font-weight: bold;
    color: #337ab7;
}

.breadcrumb span {
    color: #333;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/ ";
}

.breadcrumb>.active {
    color: #777;
}

.game-detail .banner {
    margin: 10px 0 20px;
    img {
        width: 100%;
        max-height: 250px;
    }
}

.game-detail .main-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.game-detail .main-title img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 12px;
}

.game-detail .main-title h1 {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.game-detail .main-payment .main-paymtent-title {
    color: #50565d;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 45px;
    margin-top: 30px;
}

.game-detail .main-payment .main-paymtent-title::after {
    content: '';
    height: 1px;
    background-color: #d5d5d5;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    opacity: .5;
}

.game-detail .main-payment .main-section__title-txt {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 10px 0 0;
}

.game-detail .main-payment .main-section__title-channel {
    font-size: 16px;
}

.game-detail blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

.game-detail img.wp-smiley,
.game-detail img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.news-247 .top {
    position: relative;
    margin-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
}

.news-247 .top h1 {
    margin: 0;
    color: #000;
    font-size: 18px;
    font-family: 'Open Sans Condensed', Arial;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    line-height: 31px;
}

.news-247 .top.bold-text h1 {
    font-weight: 600;
}

.news-247 .card {
    background: transparent;
    border: none;
}

.news-247 img {
    // margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

.news-247 .new-thumb .title-thumb {
     font-size: 14px;
   
}
.news-247 .new-thumb .title-thumb a{
text-transform: capitalize;
        
}
.news-item {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 1rem;
}

a {
    color: #434343;
}

a:hover {
    text-decoration: none;
}

.mhead {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
}

.mhead .date_added {
    padding-right: 10px;
    border: none;
}

.mhead .date_added time {
    color: #000;
    font-family: Times New Roman !important;
    font-size: 14px;
}

.mhead .mnview,
.mhead .g-comments {
    border-left: 1px solid #b5e4ff;
    padding-left: 10px;
    padding-right: 10px;
}

#footer {
    width: 100%;
    clear: both;
    background: #00a2ff;
    border-top: 5px solid #0089d7;
    padding-bottom: 15px;
    font-size: 15px;
}

#footer ul {
    margin: 0;
    padding: 0;
}

#footer .bottom-footer {
    text-align: left;
    float: left;
    width: 66.66%;
    color: #FFF;
}

#footer a {
    color: #cdedff;
}

#footer a:hover {
    color: #FFF;
}

#footer .div0 {
    width: 1043px;
    margin: auto;
    text-align: left;
    background: url("assets/images/footer_bottom.png") no-repeat center bottom;
}

#footer .div0 .f_info {
    width: 33.33%;
    float: left;
    min-height: 253px;
    background: url("assets/images/fbd.png") repeat-y left top;
}

#footer .f_top {
    height: 42px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 10px;
    background: url("assets/images/ftbd.png") repeat-x bottom left;
}

#footer h3.f_top_name {
    margin: 0;
    line-height: 42px;
    font-size: 18px;
    font-family: 'Open Sans Condensed', Arial;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFF;
    margin: 0;
}

#footer .f_showroom h3.f_top_name {
    color: #FF4F00;
}

#footer .bottom-footer .f_middle {
    padding-left: 10px;
}

.f_info .f_middle {
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    min-height: 120px;
    padding-left: 10px;
}

#footer .hotkeyword {
    background: #fff;
    margin-bottom: 10px;
    padding: 5px;
}

#footer .hotkeyword img {
    margin: 2px;
}

.copyright {
    width: 960px;
    text-align: center;
    margin: auto;
    color: #FFF;
    margin-top: 15px;
}

#news ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#news ul li {
    padding: 5px 0px;
    display: block;
}

#news ul li a {
    font-size: 16px;
}

#news ul li a:hover {
    color: #FFF;
}

#footer {
    width: 100%;
    clear: both;
    background: #00a2ff;
    border-top: 5px solid #0089d7;
    padding-bottom: 15px;
    font-size: 15px;
}

#footer ul {
    margin: 0;
    padding: 0;
}

#footer .bottom-footer {
    text-align: left;
    float: left;
    width: 66.66%;
    color: #FFF;
}

#footer a {
    color: #cdedff;
}

#footer a:hover {
    color: #FFF;
}

#footer .div0 {
    width: 1043px;
    margin: auto;
    text-align: left;
    background: url("assets/images/footer_bottom.png") no-repeat center bottom;
}

#footer .div0 .f_info {
    width: 33.33%;
    float: left;
    min-height: 253px;
    background: url("assets/images/fbd.png") repeat-y left top;
}

#footer .f_top {
    height: 42px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 10px;
    background: url("assets/images/ftbd.png") repeat-x bottom left;
}

#footer h3.f_top_name {
    margin: 0;
    line-height: 42px;
    font-size: 18px;
    font-family: 'Open Sans Condensed', Arial;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFF;
    margin: 0;
}

#footer .f_showroom h3.f_top_name {
    color: #FF4F00;
}

#footer .bottom-footer .f_middle {
    padding-left: 10px;
}

.f_info .f_middle {
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    min-height: 120px;
    padding-left: 10px;
}

#footer .hotkeyword {
    background: #fff;
    margin-bottom: 10px;
    padding: 5px;
}

#footer .hotkeyword img {
    margin: 2px;
}

.copyright {
    width: 960px;
    text-align: center;
    margin: auto;
    color: #FFF;
    margin-top: 15px;
}

#news ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#news ul li {
    padding: 5px 0px;
    display: block;
}

#news ul li a {
    font-size: 16px;
}

#news ul li a:hover {
    color: #FFF;
}

@media (max-width: 767.77px) {
    .form_register_edu {
        box-shadow: none;
    }
    .btn_register {
        text-align: center !important;
    }
}

.container-medium {
    max-width: 992px;
}

@media (min-width: 1200px) {
    .col-lg-15 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .container-min {
        max-width: 900px;
    }
}

.bg-white {
    background-color: #Fff!important;
}

.btn-primary-main {
    background: #3b649f;
    color: #Fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 600;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
