<section class="main-24">
  <div class="container">
    <div class="title">
      <h3> Ho tro nap game</h3>
    </div>
    <div class="game-product-list">
      <div class="row row-247online">
        <div *ngFor="let item of games" class="col-6 col-md-4 col-247online">
          <div class="content-game" (click)="showDetail(item)">
            <div class="image-game">
              <img [src]="item.logo" alt="">
            </div>
            <div class="description-game">
              <h3>
                {{item.name}}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
