<section class="new-detail news-247">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/">Trang chủ</a></li>
      <li class="active">Tin tức chi tiết</li>
    </ul>
    <div class="content-new-detail">
      <div class="row">
        <div class="col-lg-8">
          <div class="top bold-text">
            <div class="center">
              <h1 class="pb-2">Hướng dẫn tạo supercell id cho tài khoản hay day của bạn</h1>
            </div>
          </div>
          <div class="date-update">
            <div class="mhead">
              <div class="date_added">Ngày đăng: <time datetime="28/04/2018 08:58AM">28/04/2018 08:58AM</time></div>
              <div class="mnview">Lượt xem: 16569</div>
            </div>
          </div>

          <div class="newsinfo mt-5">
            <h2>
              Lúc đầu chơi hay day ai cũng dùng tài khoản facebook để liên kết với hay day, nhưng rủi ro là nhiều khi bạn muốn nhờ bạn bè, hoặc dịch vụ nạp game đăng nhập farm hay day của bạn thì lại phải đưa tài khoản facebook bao gồm cả mật khẩu. Đó là điều mà bạn
              cảm thấy không yên tâm chút nào. Bài viết này mình sẽ hướng dẫn cách tạo Supercell ID (SPC ID). Nếu bạn chưa biết Supercell ID là gì thì bạn xem hình ảnh dưới cùng sẽ hiểu rõ hơn về SPC ID.</h2>
            <p>
              Để tạo 1 tài khoản SPC ID các bạn làm những bước như hình ảnh là ok. Mình sẽ viết ngắn gọn dễ hiểu, chủ yếu dùng hình ảnh để hướng dẫn cho các bạn dễ dàng thao tác.</p>
            <p>
              Bước 1: Bạn bấm vô nút cài đặt (hình bánh răng) rồi&nbsp; bấm chọn "Supercell ID - Đã ngắt kết nối" (ô màu hồng)</p>
            <p>
              <img alt="" height="450" src="https://napgamemobile.com/image/data/huong-dan/tao-spc-id/IMG_0181.png" width="800"></p>
            <p>
              Bước 2: Bấm "đăng ký ngay"</p>
            <p>
              <img alt="" height="450" src="https://napgamemobile.com/image/data/huong-dan/tao-spc-id/IMG_0182.png" width="800"></p>
            <p>
              Bước 3: bấm "Tiếp tục"</p>
            <p>
              <img alt="" height="450" src="https://napgamemobile.com/image/data/huong-dan/tao-spc-id/IMG_0183.png" width="800"></p>
            <p>
              Bước 4: Các bạn nhập email như trong hình (nhập 2 lần giống nhau nhé) rồi bấm vào nút "Đăng ký". Bạn nên sử dụng 1 địa chỉ email hoàn toàn khác với email đăng ký với facebook nhé. Tạo email mới càng tốt. Như vậy, sau này bạn có cho ai&nbsp; hoặc bán tài
              khoản hay day cũng sẽ đơn giản hơn.</p>
            <p>
              <img alt="" height="450" src="https://napgamemobile.com/image/data/huong-dan/tao-spc-id/IMG_0184.png" width="800"></p>
            <p>
              &nbsp;</p>
            <p style="text-align: center;">
              <span style="color:#f00;"><span style="font-size:18px;">Lưu ý: Không dùng email <span><strong>napgamemobile.com@gmail.com</strong></span> để đăng ký (vì email này đã tồn tại tài khoản SPC của napgamemobile.com). Bạn hãy nhập địa chỉ email của bạn nhé.</span></span>
            </p>
            <p>
              &nbsp;</p>
            <p>
              <img alt="" height="450" src="https://napgamemobile.com/image/data/huong-dan/tao-spc-id/IMG_0185.png" width="800"></p>
            <p>
              Bước 5: Sau khi bấm "đăng ký" xong nó sẽ hiện ra như hình dưới. Mã 6 số này nó đã được gửi vô mail. Bạn vào mail để lấy nhé.</p>
            <p>
              <img alt="" height="450" src="https://napgamemobile.com/image/data/huong-dan/tao-spc-id/IMG_0186.png" width="800"></p>
            <p>
              Bước 6: bạn kiểm tra email sẽ có thư như hình dưới. Bạn lấy mã xác nhận này để hoàn thành bước 5&nbsp;</p>
            <p>
              <img alt="" height="419" src="https://napgamemobile.com/image/data/huong-dan/tao-spc-id/Screen Shot 2018-04-29 at 18.55.47.png" width="800"></p>
            <p>
              Bước 7: Nhập mã xác nhận như hình dưới rồi bấm "gửi"</p>
            <p>
              <img alt="" height="450" src="https://napgamemobile.com/image/data/huong-dan/tao-spc-id/IMG_0187.png" width="800"></p>
            <p>
              Bước 8: Sau khi tạo thành công sẽ hiện ra như hình dưới</p>
            <p>
              <img alt="" src="https://napgamemobile.com/image/data/huong-dan/tao-spc-id/IMG_0188.png"></p>
            <p>
              Vậy là bạn đã hoàn tất việc đăng ký tài khoản SPC ID rồi đó.</p>
            <p>
              Bạn nào quan tâm Supercell ID là gì thì tham khảo nội dung trong hình bên dưới</p>
            <p>
              <img alt="" height="323" src="https://napgamemobile.com/image/data/huong-dan/tao-spc-id/Screen Shot 2018-04-29 at 19.00.32.png" width="800"></p>

          </div>


        </div>
        <div class="col-lg-4 new-thumb">
          <div class="top mb-4 ">
            <div class="center">
              <h1 class="pb-2" itemprop="name">Xem nhiều nhất</h1>
            </div>
          </div>
          <div class=" news-list">
            <!-- item -->
            <div class="news-item  mb-4">
              <div class="row row-247online">
                <div class="col-lg-4 mb-5 mb-lg-0 col-247online">
                  <div class="card">
                    <div>
                      <img src="/assets/img/img_01.jpg" alt="News">
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="text-gray">
                    <h5 class="text-uppercase fw-600 title-thumb"><a href="#">Maecenas developers speak out on 'death march' crunch</a></h5>
                    <div class="small-3 mb-2">
                      <span class="mr-2"><i class="fas fa-calendar-alt mr-1"></i> 8:11pm</span>
                      <!-- <a href="#" class="comments"><i class="fas fa-comment-alt mr-1"></i> <span>7</span> comments</a> -->
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="news-item  mb-4">
              <div class="row row-247online">
                <div class="col-lg-4 mb-5 mb-lg-0 col-247online">
                  <div class="card">
                    <div>
                      <img src="/assets/img/img_01.jpg" alt="News">
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="text-gray">
                    <h5 class="text-uppercase fw-600 title-thumb"><a href="#">Maecenas developers speak out on 'death march' crunch</a></h5>
                    <div class="small-3 mb-2">
                      <span class="mr-2"><i class="fas fa-calendar-alt mr-1"></i> 8:11pm</span>
                      <!-- <a href="#" class="comments"><i class="fas fa-comment-alt mr-1"></i> <span>7</span> comments</a> -->
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="news-item  mb-4">
              <div class="row row-247online">
                <div class="col-lg-4 mb-5 mb-lg-0 col-247online">
                  <div class="card">
                    <div>
                      <img src="/assets/img/img_01.jpg" alt="News">
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="text-gray">
                    <h5 class="text-uppercase fw-600 title-thumb"><a href="#">Maecenas developers speak out on 'death march' crunch</a></h5>
                    <div class="small-3 mb-2">
                      <span class="mr-2"><i class="fas fa-calendar-alt mr-1"></i> 8:11pm</span>
                      <!-- <a href="#" class="comments"><i class="fas fa-comment-alt mr-1"></i> <span>7</span> comments</a> -->
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
