<div class="game-manger">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">List News</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive-res">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_filter">
                                <label>Search:
                                    <input type="search" [(ngModel)]="searchExp" (ngModelChange)="applyFilter()" class="form-control form-control-sm" placeholder="Enter name to search...">
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="create-game mb-3">
                                <a class="d-flex align-items-center justify-content-end" (click)="createNews()">
                                    <i class="fa fa-plus-circle mr-2"></i> Create
                                </a>
                            </div>
                        </div>
                    </div>
                    <table mat-table [dataSource]="listNews" class="mat-elevation-z8 w-100">
                        <!-- Name Column -->

                        <ng-container matColumnDef="logo">
                            <th mat-header-cell *matHeaderCellDef> Logo </th>
                            <td mat-cell *matCellDef="let element">
                                <div style="height: 48px; width: 48px;" *ngIf="!element.logo">Empty</div>
                                <div style="height: 48px; width: 48px;" *ngIf="element.logo">
                                    <img src="{{element.logo}}" *ngIf="element.logo" class="logo-list" alt="" height=48 width=48/>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="datecreated">
                            <th mat-header-cell *matHeaderCellDef> Last Modified </th>
                            <td mat-cell *matCellDef="let element">  {{element.datecreated}} 
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element" style="width: 115px">
                                <a class="btn text-info" style="padding: 7px" (click)="openForEdit(element)" title="Edit">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="btn text-danger" style="padding: 7px" (click)="deleteNews(element.id)" title="Delete">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="w-100">
                        <mat-paginator #paginator [length]="total" [pageSize]="pageSize" (page)="pageEvent = changePage($event.pageIndex)">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>