<footer class="footer">
    <div class="container">
        <nav class="footer-link-wrap">
            <a class="footer-link-txt" href="">Hướng dẫn thanh toán</a> | <a class="footer-link-txt" href="">Điều khoản sử dụng</a> | <a class="footer-link-txt" href="">Chính sách bảo mật</a>
        </nav>
        <nav class="footer-link-wrap text-small">
            <a class="footer-link-txt" href="#">Nạp Vcoin</a> | 
            <a class="footer-link-txt" href="https://napcard.net/nap-the-lien-quan-mobile">Nạp thẻ Liên Quân</a> | 
            <a class="footer-link-txt" href="https://napcard.net/nap-the-vo-lam-truyen-ky-mobile">Nạp thẻ VLTKM</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ Garena</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ Truy Kích</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ GunPow</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ CrossFire Legends</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ Chiến Dịch Huyền Thoại</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ Tử Thanh Song Kiếm</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ TLBB 3D</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ Ngôi Sao Bộ Lạc</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ Vĩnh Hằng Kỷ Nguyên</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ Đại Đường Võ Lâm</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ DDTank</a> | 
            <a class="footer-link-txt" href="#">Nạp thẻ Âm Dương Sư</a>
        </nav>
        <div class="footer-copy">© {{year}} NAPGAMEONLINE24.COM</div>
    </div>
</footer>