<!-- start footer.html-->
<div id="footer" class="pt-2 mt-4">
  <div class="div0">
    <div class="bottom-footer">
      <div class="f_top">
        <h3 class="f_top_name">Liên Hệ Nạp Game Mobile</h3>
      </div>
      <div class="f_middle">
        <p style="margin-bottom: 15px;">
          <strong><span style="font-size:18px;">Hotline</span></strong><strong><span style="font-size: 18px;">(+84)</span></strong><strong><span style="font-size:18px;">: 0964.277.992</span></strong></p>
        <p>
          <strong><span style="font-size: 18px;">Zalo</span></strong><strong><span style="font-size: 18px;">(+84)</span></strong><strong><span style="font-size: 18px;">: 0964.277.992</span></strong></p>
        <p>
          <strong><span style="font-size: 18px;">(Viber, WhatsApp,&nbsp;</span></strong><strong><span style="font-size: 18px;">Line,&nbsp;</span></strong><strong><span style="font-size: 18px;">Wechat</span></strong><strong><span style="font-size: 18px;">, ICQ, Telegram)</span></strong></p>
      </div>
    </div>

    <div class="f_info">
      <div class="f_top">
        <h3 class="f_top_name">Chính sách và Hỗ trợ</h3>
      </div>
      <div class="f_middle">
        <div id="news">
          <ul>
            <li><a href="https://napgamemobile.com/info/6/huong-dan-thanh-toan.html">Hướng dẫn thanh toán</a></li>
            <li><a href="https://napgamemobile.com/tim-dai-ly-doi-tac-ban-game.html">Tìm đại lý, đối tác bán Game</a></li>
            <li><a href="https://napgamemobile.com/chinh-sach-bao-mat-thong-tin.html">Chính sách bảo mật thông tin</a></li>
            <li><a href="https://napgamemobile.com/chinh-sach-van-chuyen-giao-nhan.html">Chính sách vận chuyển, giao nhận</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div class="copyright">
    Copyright © 2019 <a href="" target="_blank">NapGameMobile.com</a> </div>

  <div style="clear:both;"></div>
</div>
