<section class="new-detail news-247">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a [routerLink]="'/news'">Danh sách</a>
            </li>
            <li class="active">Tin tức chi tiết</li>
        </ul>
        <div class="content-new-detail">
            <div class="row">
                <div class="col-md-8">
                    <div class="top bold-text">
                        <div class="center">
                            <h1 class="pb-2">{{selectedNews.name}}</h1>
                        </div>
                    </div>
                    <div class="date-update">
                        <img [src]="selectedNews.logo" />
                        <div class="mhead">
                            <div class="date_added">
                                Ngày đăng: {{selectedNews.datecreated | date:'medium'}}
                            </div>
                            <div class="mnview">Lượt xem: 16569</div>
                        </div>
                    </div>
                    <div [innerHTML]="selectedNews.description" class="newsinfo mt-5"></div>
                </div>

                <div class="col-md-4">
                    <!-- news xem nhieu nhat -->
                    <app-news-best-view></app-news-best-view>
                </div>
            </div>
        </div>
    </div>
</section>