<section id="wrapper" class="new-login-register">
  <div class="new-login-box">
    <div class="white-box">
      <h3 class="box-title m-b-0">Sign In to Admin</h3>
      <form class="form-horizontal new-lg-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group  m-t-20">
          <div class="col-xs-12">
            <label>Email Address</label>
            <input formControlName="emailAddress" class="form-control" type="text" [required]="true" placeholder="Email Address">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label>Password</label>
            <input formControlName="password" class="form-control" type="password" [required]="true" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="checkbox checkbox-info pull-left p-t-0">
              <input formControlName="isKeepSignedIn" id="checkbox-signup" type="checkbox">
              <label for="checkbox-signup"> Remember me </label>
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit" [disabled]="!loginForm.valid">Log In
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>