:host {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.game-detail-manager {
    .name-game {}
    .img-logo {
        padding: 45px 45px 60px;
        text-align: center;
        position: relative;
        border: 1px dashed #f1f1f1;
        .button-upload {
            position: absolute;
            background: none;
            border: none;
            bottom: 6px;
            right: 6px;
            color: #3D86BA;
            transition: 0.3s;
            &:hover {
                color: #57A5E0
            }
        }
        .img-logo-banner {
            width: 100%;
            object-fit: cover;
        }
    }
    color: #858796;
    table {
        border: 1px solid #e3e6f0;
        color: #434343;
        th {
            vertical-align: inherit;
            font-weight: 500;
            padding: .55rem;
        }
    }
    .table {
        .thead-light {
            th {
                background-color: #fcfcfc;
                border-bottom: 2px solid #dee2e6;
            }
        }
        tbody {
            tr {
                &:nth-last-child(1) {
                    border-bottom: 1px solid #dee2e6;
                }
            }
        }
    }
    .action-edit {
        button {
            padding: 8px 24px;
            border-radius: 2px;
            transition: 0.2s;
            &.btn-back {
                border: 1px solid #434343;
                color: #434343;
                background: #Fff;
                &:hover {
                    background: #434343;
                    color: #Fff;
                }
            }
        }
    }
}

.text-primary {
    color: #2a6ca9!important;
}