<table class="table table-hover" *ngIf="!selectedGame">
  <thead class="thead-light">
  <th>No.</th>
  <th>Name</th>
  <th>Logo</th>
  <th>Description</th>
  <th>Prices</th>
  <th>Banner</th>
  <th>
    <a class="btn btn-outline-success" (click)="createGame()"><i class="fa fa-plus-square"></i> Create New</a>
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let item of games, let i = index">
    <th (click)="openForEdit(item)">{{i}}</th>
    <th (click)="openForEdit(item)">{{item.name}}</th>
    <td (click)="openForEdit(item)"><img src="{{item.logo}}" alt="" border=3 height=100 width=100/></td>
    <td (click)="openForEdit(item)">{{item.description}}</td>
    <td (click)="openForEdit(item)">
      <ul>
        <li *ngFor="let price of item.prices">{{price.name}} - {{price.value}}</li>
      </ul>
    </td>
    <td (click)="openForEdit(item)"><img src="{{item.banner}}" alt="" border=3 height=100 width=300/></td>
    <td>
      <a class="btn text-danger" (click)="deleteGame(item.id)"><i class="fa fa-trash fa-lg"></i></a>
    </td>
  </tr>
  </tbody>
</table>
<app-admin-game-detail *ngIf="selectedGame" [gameId]="selectedGame.id" (backToList)="selectedGame = null"></app-admin-game-detail>
