@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.25rem;
    }
}

.header-top {
    background: #3b649f;
    font-weight: 600;
    font-size: 14px;
    .header-top-info {
        padding: 4px;
        text-align: right;
        a {
            color: #Fff;
        }
    }
}

.hotline-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    span {
        background: #3b649f;
        color: #fff;
        padding: 5px 8px;
    }
    p {
        background: #CCDBE2;
        color: #Fff;
        margin-bottom: 0;
        padding: 5px 8px;
    }
}

.form-control:focus {
    border-color: #CCDBE2;
    box-shadow: none;
    outline: none;
}