<nav class="navbar navbar-expand-lg  border-nav zi-3 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-4 col-sm-3 col-md-3 mr-auto">
                <a class="navbar-brand logo" [routerLink]="['/games']">
                    <img src="../../../assets/images/247.png" alt="Wicodus" class="logo-light mx-auto">
                </a>
            </div>
            <div class="col-4 d-none d-lg-block mx-auto">
                <form class="input-group border-0 bg-transparent">
                    <input class="form-control" [(ngModel)]="searchExp" type="search" (ngModelChange)="cancelSearch()" placeholder="Tìm kiếm game cần nạp..." aria-label="Search" name="searchExp">
                    <div class="input-group-append">
                        <button (click)="search()" class="btn btn-sm btn-primary-main text-light my-0 mx-0" type="submit"><i
                                class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-8 col-sm-8 col-md-8 col-lg-6 col-xl-3 ml-auto text-right">

            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg mb-4 box-menu bg-white">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-fixed" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">☰
        </button>
        <div class="collapse navbar-collapse" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item" (click)="changeMenu(0)">
                    <a class="nav-link pl-lg-0" routerLinkActive="active" [routerLink]="['/games']">
                        <span>Dịch vụ game</span>
                    </a>
                </li>
                <li class="nav-item" (click)="changeMenu(1)">
                    <a class="nav-link pl-lg-0" routerLinkActive="active" [routerLink]="['/news']">
                        <span>Tin tức game</span>
                    </a>
                </li>
                <li class="nav-item" (click)="changeMenu(2)">
                    <a class="nav-link pl-lg-0" routerLinkActive="active" [routerLink]="['/news']">
                        <span>Mẹo chơi game</span>
                    </a>
                </li>
                <li class="nav-item" (click)="changeMenu(3)">
                    <a class="nav-link pl-lg-0" routerLinkActive="active" [routerLink]="['/news']">
                        <span>Công nghệ</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>