<div style="margin: 0 auto; width: 400px;">
  <div style="margin: 25px 0px;">
    <a href="http://sv.gamebank.vn">
      <img src="../../assets/images/logo.png" />
    </a>
  </div>
  <h3 style="margin-bottom: 20px;">
    <span class="label label-success">{{selectedGame?.name}}</span>
  </h3>
  <form autocomplete="off" (submit)="onSubmit()">
    <table class="table table-condensed table-bordered">
      <tbody>
        <tr>
          <td></td>
          <td>
            <div style="margin: 5px 0px;">
              <div *ngIf="chargeResult?.code === 100" class="label label-success">{{chargeResult?.msg}}</div>
              <div *ngIf="chargeResult?.code !== 100" class="label label-danger">{{chargeResult?.msg}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Loại thẻ</td>
          <td>
            <select name="cardId" [(ngModel)]="chargeInfo.cardId" class="form-control" appAutoFocus [required]="true">
              <option value="0">- Chọn loại thẻ -</option>
              <option value="1">Viettel</option>
              <option value="2">Mobiphone</option>
              <option value="3">Vinaphone</option>
              <!-- <option value="4">Gate</option> -->
            </select>
            <span style="color: red">{{message1}}</span>
          </td>
        </tr>

        <tr>
          <td>Mệnh giá</td>
          <td>
            <select name="cardValue" [(ngModel)]="chargeInfo.cardValue" class="form-control" [required]="true">
              <option value="0">- Chọn mệnh giá -</option>
              <option value="10000">10.000</option>
              <option value="20000">20.000</option>
              <option value="30000">30.000</option>
              <option value="50000">50.000</option>
              <option value="100000">100.000</option>
              <option value="200000">200.000</option>
              <option value="300000">300.000</option>
              <option value="500000">500.000</option>
              <option value="1000000">1.000.000</option>
            </select>
            <span style="color: red">{{message2}}</span>
          </td>
        </tr>

        <tr>
          <td>Mã thẻ</td>
          <td>
            <input type="text" [(ngModel)]="chargeInfo.pinField" name="pinField" class="form-control" placeholder="Mã thẻ" [required]="true"/>
            <span style="color: red">{{message3}}</span>
          </td>
        </tr>
        <tr>
          <td>Seri</td>
          <td>
            <input type="text" [(ngModel)]="chargeInfo.seriField" name="seriField" class="form-control" placeholder="Seri" [required]="true"/>
            <span style="color: red">{{message4}}</span>
          </td>
        </tr>
        <tr>
          <td>Mã bảo mật</td>
          <td>
            <div class="security_code">
              <form [formGroup]="aFormGroup">
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (expire)="handleExpire()" (success)="handleSuccess()" [useGlobalDomain]="true"
                  [size]="'compact'" [hl]="'en'" [theme]="'light'" formControlName="recaptcha">
                </ngx-recaptcha2>
              </form>
            </div>
            <br/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input [disabled]="isDisabled" class="btn btn-info" type="submit" value="Nạp thẻ" />
            <div id="loading_napthe" style="display: none; float: right">
              <img src="../../assets/images/loading.gif" /> &nbsp;Xin mời chờ...
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>