<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">N.C Admin <sup>24/7</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/admin" routerLinkActive="active">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" href="/admin/games">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Games</span></a>
  </li>

  <li class="nav-item active">
    <a class="nav-link" href="/admin/news">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>News</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

</ul>
<!-- End of Sidebar -->
