#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

#wrapper #content-wrapper #content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}