<div class="game-new-manager">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 *ngIf="!selectedNews?.id" class="m-0 font-weight-bold text-primary">News Creating</h6>
                    <h6 *ngIf="selectedNews?.id" class="m-0 font-weight-bold text-primary">News Updating</h6>
                </div>
                <div class="card-body">
                    <form autocomplete="off" *ngIf="selectedNews">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Logo</label>
                                    <div class="img-logo">
                                        <input style="display: none" accept="image/*" type="file" (change)="logoSelected($event)" name="logo" #logoInput appAutoFocus/>
                                        <img style="width: 98px; height: 98px" [src]="logoBase64" *ngIf="logoBase64" />
                                        <img style="width: 98px; height: 98px" [src]="selectedNews.logo" *ngIf="!logoBase64 && selectedNews.logo" />
                                        <button type="button" (click)="logoInput.click()" class="button-upload">
                                            <i class="fa fa-upload mr-2"></i> Select file
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <textarea name="name" [(ngModel)]="selectedNews.name" class="form-control" [required]="true"></textarea>
                                    <span style="color: red">{{message}}</span>
                                </div>
                                <div class="form-group mt-2">
                                    <label>Type</label>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            {{typeName}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <a *ngFor="let item of newTypes" (click)="typeChange(item.value)" class="dropdown-item">{{item.text}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="form-group">
                                    <label>Description</label>
                                    <angular-editor name="description" [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="selectedNews.description"></angular-editor>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-end action-edit">
                            <button type="submit" class="btn btn-primary mr-3" (click)="onSubmit()"  [disabled]="isSaving">
                                Save
                                <span *ngIf="imageService.uploadingPercent > 0">{{imageService.uploadingPercent}} %
                                </span>
                            </button>
                            <button [disabled]="isSaving" type="button" (click)="backClick()" class="btn btn-back">
                                Back
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>