<table class="table table-hover">
  <thead class="thead-light">
  <th>No.</th>
  <th>Name</th>
  <th>Logo</th>
  <th>Date Created</th>
  <th>
    <a class="btn btn-outline-success" (click)="createNews()"><i class="fa fa-plus-square"></i> Create</a>
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let item of listNews, let i = index">
    <th>{{i + 1}}</th>
    <th>{{item.name}}</th>
    <td><img src="{{item.logo}}" alt="" border=3 height=100 width=100/></td>
    <td>{{item.dateCreated}}</td>
    <td>
      <a class="btn text-info" (click)="openForEdit(item)"><i class="fa fa-trash fa-lg"></i></a>
      <a class="btn text-danger" (click)="deleteNews(item.id)"><i class="fa fa-trash fa-lg"></i></a>
    </td>
  </tr>
  </tbody>
</table>
