<div class="game-new-manager">
    <div class="container-fluid">
        <h1 _ngcontent-vdl-c8="" class="h3 mb-2 text-gray-800">New detail</h1>
        <p _ngcontent-rnh-c8="" class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget ante pulvinar augue blandit rutrum eget a purus. Aliquam rhoncus suscipit dolor eu hendrerit.</p>


        <div class="col-12">

            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Title table</h6>
                </div>
                <div class="card-body">
                    <form autocomplete="off" *ngIf="selectedNews" (submit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input name="name" [(ngModel)]="selectedNews.name" class="form-control" [required]="true">
                                    <span style="color: red">{{message}}</span>
                                </div>

                            </div>
                            <div class="col-12 mt-2">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Logo</label>
                                            <div class="img-logo">
                                                <input style="display: none" accept="image/*" type="file" (change)="logoSelected($event)" name="logo" #logoInput/>
                                                <img style="width: 150px; height: 150px" [src]="logoBase64" *ngIf="logoBase64" />
                                                <img style="width: 150px; height: 150px" [src]="selectedNews.logo" *ngIf="!logoBase64 && selectedNews.logo" />
                                                <button type="button" (click)="logoInput.click()" class="button-upload"> <i class="fa fa-upload mr-2"></i> Select file</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="form-group">
                                    <label>Description</label>
                                    <angular-editor name="description" [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="selectedNews.description"></angular-editor>
                                </div>
                            </div>
                        </div>
                        <div class="form-group dx-flex justify-content-lg-start">
                            <button type="submit" class="btn btn-success"><i class="fa fa-database mr-1"></i>
                          Save <span *ngIf="imageService.uploadingPercent > 0">{{imageService.uploadingPercent}}%</span></button>
                            <button [disabled]="isUploading" type="button" (click)="backClick()" class="btn btn-dark"><i class="fa fa-database"></i> Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>